* {
    padding: 0;
    margin: 0;
}
.wrapper {
    width: 800px;
    margin: 30px auto;
}
ul {
    list-style: none;
    overflow: hidden;
}
ul li {
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: white;
}
li a {
    text-decoration: none;
    color: red;
}
li.active {
    background: red;
}
li.active a {
    color: white;
}
.search {
    margin: 20px 0;
    position: relative;
}
#txt {
    display: block;
    outline: none;
    width: 800px;
    height: 50px;
    position: absolute;
    border: 3px solid orange;
    border-radius: 10px;
}
#lab {
    display: block;
    position: absolute;
    top: 15px;
    left: 30px;
    font-size: 20px;
    color: rgba(0, 0, 0, .5);
}